<!doctype html>
<html class="no-js" lang="en">

    <html>

        <head>
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <title>
                {%  if page.slug != 'home' %}
                    {{page.title}} |
                {%  endif  %}
                {{tag|capitalize}} | Headlines </title>
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            {%  if data.summary != ''  %}
                <meta name="description" content="{{data.summary|striptags}}">
            {%  endif  %}

            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {#
            <meta property="og:url" content="{{data.brand.url.data}}/{{data.type}}/{{data.slug}}" />#}
            <meta property="og:type" content="article" />
            {#
            <meta property="og:title" content="{{data.title}}" />
            <meta property="og:description" content="{{data.summary}}" />
            <meta property="og:updated_time" content="{{data.updated_at|date()}}" />#}
            {#{% if data.banner.url %}
            <meta property="og:image" content="{{data.banner.url}}" />
            {% endif %}#}
            <meta name="twitter:card" content="summary" />
            {#
            <meta name="twitter:title" content="{{data.title}}" />
            <meta name="twitter:description" content="{{data.summary}}" />#}
            <meta name="twitter:creator" content="@kjwebsites" />
            <meta name="p:domain_verify" content="116cb6741784e2fafa9255a6fe1b01dd" />
            <link rel="dns-prefetch" href="//fonts.gstatic.com">
            <link rel="dns-prefetch" href="//ajax.googleapis.com">
            <link rel="dns-prefetch" href="//googletagmanager.com">
            {#
            <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
            <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">#}
            <meta name="msapplication-TileColor" content="#000000">
            <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
            <meta name="theme-color" content="#000000">
            {#<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114985288-1"></script>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <script>
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());
                gtag('config', 'UA-114985288-1');

            </script>#}
        </head>

        <body id="{{page.slug}}">

            <main class="main" role="main">

                <header class="header site" role="banner">
                    {% include 'partials/logo/headlinez.html.twig' %}
                    {#{% include 'partials/form/search.html.twig' %}#}
                    {% include 'partials/nav/site.html.twig' %}               
                </header>

                {% block body %}

                {% endblock %}

                <footer class="footer site" role="contentinfo">

                        {% include 'partials/logo/headlinez.html.twig' %}
                        {% include 'partials/logo/tagline.html.twig' %}
                        {#{% include 'partials/nav/footer.html.twig' with {'slug' : page.slug} %} #}


                        <p class="copyright"><strong>This small website exists so that we can develop new and interesting layout and javascript ideas, nothing more nothing less</strong></p>

                        <p class="copyright">None of the content available on these news items are owned by us but by their respective creators or companies outlined in the large links and text on each item. Attribution is all given to them. We accept no responsibility for the quality or reliability of any of this. These pages may contain links to websites, services or advertisements that we do not own or endorse. We comply with the DMC and if you wish to have any items taken down or removed then contact us via <a href="mailto:data@kjwebsites.co.uk">data@kjwebsites.co.uk</a> and it will be removed asap.</p>
                </footer>

            </main>


            

            {#<script src="{{ asset('build/app.js') }}"></script>#}
        </body>

    </html>
